<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bignerdranch.android.exercisebuddy">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.LoginOrRegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.ProfileImageActivity"/>
        <activity android:name=".views.ExerciseSelectionActivity"/>
        <activity android:name=".views.UserGenderSelectionActivity"/>
        <activity android:name=".views.DateOfBirthSelectionActivity"/>
        <activity android:name=".views.UserExperienceLevelSelectionActivity"/>
        <activity android:name=".views.GenderPreferenceSelectionActivity"/>
        <activity android:name=".views.AgeRangePreferenceSelectionActivity"/>
        <activity android:name=".views.ExperienceLevelPreferenceSelectionActivity"/>
        <activity android:name=".views.LoginActivity"/>
        <activity android:name=".views.RegisterActivity"/>
        <activity android:name=".views.UserMatchesActivity"/>
        <activity android:name=".views.UserProfileActivity"/>
        <activity android:name=".views.UpdateUserPreferencesActivity"/>
        <activity android:name=".views.UpdateUserProfileActivity"/>
        <activity android:name=".views.MatchProfileActivity"/>
        <activity android:name=".views.MessagingActivity"/>
        <activity android:name=".views.UserConversationsActivity"/>
    </application>

</manifest>